.sign-up{
	font-family: Apercu-light, Arial, sans-serif;
	background-color: #fff;
	width: 400px;
	margin: auto;
	left: 0;
	right: 0;
}

.headline {
	color: #6F7B91;
	text-align: center;
	margin-bottom: 20px;
}

.bold{
	color: #A89FC9;
	margin-top: 10px;
	margin-bottom: 10px;
}

.data{
	width: 48%;
	display: inline-block;
	padding-right: 3px;
}

.male{
	color: #8A839B;
}

.checkbox a{
	color:#7EB4EA; 
}

#registration input:not([type="radio"]):not([type="checkbox"]),
select
{
	border-radius: 4px;
	border:1px solid #EBEBEB;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

label{
	color: #6F7B91;
}

select{
	color: #6F7B91
}

textarea{
	border-radius: 4px;
	border:1px solid #EBEBEB;
	width: 400px;
	font-family: Arcu-light;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="submit"] {
	background: #3ECACB;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 10px;
}

.reset{
	background: #DDDDDD;
}

a.hide-popup{
	float: right;
	color: #6F7B91;
	text-decoration: none;
}





